<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/">
      <img src="./assets/chess-logo.png" width="30px" />
      Chessio</a
    >
    <button
      class="navbar-toggler"
      type="button"
      (click)="navbarCollapsed = !navbarCollapsed"
      [attr.aria-expanded]="!navbarCollapsed"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="navbarCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link navbar-element" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link navbar-element" routerLink="/about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link navbar-element" routerLink="/play">Play</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link navbar-element" routerLink="/live">Live Chess</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
