<div class="container">
  <h5>About Chess</h5>

  <div class="about-item">
    <img src="./assets/chess.png " width="300" />
    <p>
      Chess is an abstract strategy game and involves no hidden information. It
      is played on a square chessboard with 64 squares arranged in an
      eight-by-eight grid. At the start, each player (one controlling the white
      pieces, the other controlling the black pieces) controls sixteen pieces:
      one king, one queen, two rooks, two bishops, two knights, and eight pawns.
      The object of the game is to checkmate the opponent's king, whereby the
      king is under immediate attack (in "check") and there is no way for it to
      escape. There are also several ways a game can end in a draw.
    </p>
  </div>
</div>
