<div class="center">
  <h5>
    Welcome to Live Chess Mode. Invite a friend to play or join your friend's
    game.
  </h5>

  <div class="game-invite">
    <app-button
      text="Create New Game"
      (buttonClicked)="createGame()"
    ></app-button>

    <form #codeForm="ngForm" (ngSubmit)="joinGame(codeForm.value.enteredCode)">
      <input
        ngModel
        type="text"
        name="enteredCode"
        id="enteredCode"
        placeholder="Enter Game Code"
      />
      <app-button type="submit" text="Join Game" isFeatured="true"></app-button>
      <!-- <button type="submit" class="btn is-featured submit-button">
        Join Game
      </button> -->
    </form>
  </div>
</div>

<app-modal
  [message]="errorMsg"
  (modalCreated)="onModalCreated($event)"
  buttonText="ok"
  [onButtonClick]="onCloseModal"
></app-modal>
