<h1 class="heading">Enjoy Chess in 2 modes:</h1>
<div class="con">
  <div class="panel">
    <div class="mode">
      <h2 class="mode-header">2 Player Mode</h2>
      <ul class="mode-info">
        <li class="mode-info-item">Play Chess</li>
        <li class="mode-info-item">If your friend is next to you</li>
      </ul>
      <span class="mode-msg">Enjoy</span>
      <app-button route="/play" text="Play" class="mode-button"></app-button>
      <!-- <a routerLink="/play" class="mode-button">Play</a> -->
    </div>

    <div class="mode">
      <h2 class="mode-header">Live Mode</h2>
      <ul class="mode-info">
        <li class="mode-info-item">Create Game</li>
        <li class="mode-info-item">Tell your friend to join you</li>
      </ul>
      <span class="mode-msg">Have Fun</span>

      <app-button
        route="/live"
        isFeatured="true"
        text="Start"
        class="mode-button"
      ></app-button>
      <!-- <a routerLink="/live" class="mode-button is-featured">Start</a> -->
    </div>
  </div>

  <div>
    <div class="card">
      <h2>Don't know what chess is?</h2>
      <app-button
        route="/about"
        text="Learn Here"
        isFeatured="true"
        class="learn-button"
        [style]="{ padding: '5px 15px' }"
      ></app-button>
    </div>
    <ngx-chess-board
      #board
      darkTileColor="#d7e7f9"
      lightTileColor="#348efe"
      [lightDisabled]="true"
      [darkDisabled]="true"
      [size]="boardSize"
    ></ngx-chess-board>
  </div>
</div>
